<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="table-indigo">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">GENDER</th>
        <th scope="col">LOCATION</th>
        <th scope="col">TIME</th>
        <th scope="col">FEATURE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lists">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.location }}</td>
        <td>{{ today | date: "yyyy/MM/dd hh:mm:ss" }}</td>
        <td class="feature">
          <button
            class="btn btn-secondary"
            (click)="
                  editData(item.id, item.name, item.gender, item.location)
                "
          >
            編輯
          </button>
          <button class="btn btn-danger" (click)="deleteData(item.id)">
            刪除
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>